@import "tailwindcss";

:root {
  --background: #000000; 
  --foreground: #ffffff;
  --gold: #f59e0b; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
}

body {
  background-color: #000000 !important;
  color: #ffffff;
}

/* Evita que el scroll horizontal del carrusel rompa el layout */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}